/* my custom css */
* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    min-height: 100%;
}

:root {
    --cor-primaria: #F28500;
}

#navbar-principal {
    background-color: var(--cor-primaria);
}